[submodule ".registry"]
	path = .registry
	url = https://github.com/mrcieu/mrcieu.r-universe.dev
	branch = HEAD
[submodule "BESIDEMR"]
	path = BESIDEMR
	url = https://github.com/CYShapland/BESIDEMR
[submodule "CAMERA"]
	path = CAMERA
	url = https://github.com/yoonsucho/CAMERA
[submodule "CIVMR"]
	path = CIVMR
	url = https://github.com/LaiJiang/CIVMR
[submodule "CheckSumStats"]
	path = CheckSumStats
	url = https://github.com/MRCIEU/CheckSumStats
[submodule "GRAPPLE"]
	path = GRAPPLE
	url = https://github.com/jingshuw/GRAPPLE
[submodule "GWASBrewer"]
	path = GWASBrewer
	url = https://github.com/jean997/GWASBrewer
[submodule "GenomicSEM"]
	path = GenomicSEM
	url = https://github.com/GenomicSEM/GenomicSEM
[submodule "GwasDataImport"]
	path = GwasDataImport
	url = https://github.com/MRCIEU/GwasDataImport
[submodule "MR.CUE"]
	path = MR.CUE
	url = https://github.com/QingCheng0218/MR.CUE
[submodule "MR.Corr2"]
	path = MR.Corr2
	url = https://github.com/QingCheng0218/MR.Corr2
[submodule "MR.LDP"]
	path = MR.LDP
	url = https://github.com/QingCheng0218/MR.LDP
[submodule "MR2"]
	path = MR2
	url = https://github.com/lb664/MR2
[submodule "MRAID"]
	path = MRAID
	url = https://github.com/yuanzhongshang/MRAID
[submodule "MRAPSS"]
	path = MRAPSS
	url = https://github.com/YangLabHKUST/MR-APSS
[submodule "MRBEE"]
	path = MRBEE
	url = https://github.com/noahlorinczcomi/MRBEE
[submodule "MRInstruments"]
	path = MRInstruments
	url = https://github.com/MRCIEU/MRInstruments
[submodule "MRMiSTERI"]
	path = MRMiSTERI
	url = https://github.com/remlapmot/MRMiSTERI
	branch = suggestions
	subdir = MRMiSTERI
[submodule "MRMix"]
	path = MRMix
	url = https://github.com/gqi/MRMix
[submodule "MRPATH"]
	path = MRPATH
	url = https://github.com/danieliong/MRPATH
[submodule "MRPRESSO"]
	path = MRPRESSO
	url = https://github.com/rondolab/MR-PRESSO
	registered = false
[submodule "MRTool"]
	path = MRTool
	url = https://github.com/askieslinger/MRTool
[submodule "MRcML"]
	path = MRcML
	url = https://github.com/xue-hr/MRcML
[submodule "MRchecks"]
	path = MRchecks
	url = https://github.com/jalabrecque/MRchecks
[submodule "MVMR"]
	path = MVMR
	url = https://github.com/WSpiller/MVMR
[submodule "MVMRcML"]
	path = MVMRcML
	url = https://github.com/ZhaotongL/MVMR-cML
[submodule "MendelianRandomization"]
	path = MendelianRandomization
	url = https://github.com/sb452/MendelianRandomization
[submodule "OneSampleMR"]
	path = OneSampleMR
	url = https://github.com/remlapmot/OneSampleMR
	branch = v0.1.3
[submodule "RFQT"]
	path = RFQT
	url = https://github.com/HDTian/RFQT
[submodule "RMVMR"]
	path = RMVMR
	url = https://github.com/WSpiller/RMVMR
[submodule "RadialMR"]
	path = RadialMR
	url = https://github.com/WSpiller/RadialMR
[submodule "SUMnlmr"]
	path = SUMnlmr
	url = https://github.com/amymariemason/SUMnlmr
[submodule "SlopeHunter"]
	path = SlopeHunter
	url = https://github.com/Osmahmoud/SlopeHunter
[submodule "TwoSampleMR"]
	path = TwoSampleMR
	url = https://github.com/MRCIEU/TwoSampleMR
[submodule "alspac"]
	path = alspac
	url = https://github.com/explodecomputer/alspac
[submodule "bpbounds"]
	path = bpbounds
	url = https://github.com/remlapmot/bpbounds
	branch = v0.1.5
[submodule "cause"]
	path = cause
	url = https://github.com/jean997/cause
[submodule "causl"]
	path = causl
	url = https://github.com/rje42/causl
[submodule "dmrff"]
	path = dmrff
	url = https://github.com/perishky/dmrff
[submodule "epigraphdb"]
	path = epigraphdb
	url = https://github.com/MRCIEU/epigraphdb-r
[submodule "ewaff"]
	path = ewaff
	url = https://github.com/perishky/ewaff
[submodule "finemapr"]
	path = finemapr
	url = https://github.com/variani/finemapr
	registered = false
[submodule "genepi.utils"]
	path = genepi.utils
	url = https://github.com/nicksunderland/genepi.utils
[submodule "genetics.binaRies"]
	path = genetics.binaRies
	url = https://github.com/MRCIEU/genetics.binaRies
[submodule "gwasglue"]
	path = gwasglue
	url = https://github.com/MRCIEU/gwasglue
[submodule "gwasglue2"]
	path = gwasglue2
	url = https://github.com/MRCIEU/gwasglue2
[submodule "gwasrapidd"]
	path = gwasrapidd
	url = https://github.com/ramiromagno/gwasrapidd
	registered = false
[submodule "gwasvcf"]
	path = gwasvcf
	url = https://github.com/MRCIEU/gwasvcf
[submodule "hyprcoloc"]
	path = hyprcoloc
	url = https://github.com/jrs95/hyprcoloc
[submodule "ieugwasr"]
	path = ieugwasr
	url = https://github.com/MRCIEU/ieugwasr
[submodule "journalclub"]
	path = journalclub
	url = https://github.com/perishky/journalclub
[submodule "lhcMR"]
	path = lhcMR
	url = https://github.com/LizaDarrous/lhcMR
[submodule "meffonym"]
	path = meffonym
	url = https://github.com/perishky/meffonym
[submodule "metaboprep"]
	path = metaboprep
	url = https://github.com/MRCIEU/metaboprep
[submodule "midoc"]
	path = midoc
	url = https://github.com/elliecurnow/midoc
[submodule "mr.simss"]
	path = mr.simss
	url = https://github.com/amandaforde/mr.simss
[submodule "mrbayes"]
	path = mrbayes
	url = https://github.com/okezie94/mrbayes
[submodule "mrclust"]
	path = mrclust
	url = https://github.com/cnfoley/mrclust
[submodule "mrlocus"]
	path = mrlocus
	url = https://github.com/thelovelab/mrlocus
[submodule "mrsensemakr"]
	path = mrsensemakr
	url = https://github.com/carloscinelli/mrsensemakr
[submodule "navmix"]
	path = navmix
	url = https://github.com/aj-grant/navmix
[submodule "nlmr"]
	path = nlmr
	url = https://github.com/jrs95/nlmr
[submodule "simmrd"]
	path = simmrd
	url = https://github.com/noahlorinczcomi/simmrd
[submodule "susieR"]
	path = susieR
	url = https://github.com/stephenslab/susieR
	registered = false
[submodule "tmsens"]
	path = tmsens
	url = https://github.com/dea-hazewinkel/tmsens
[submodule "varGWASR"]
	path = varGWASR
	url = https://github.com/MRCIEU/varGWASR
[submodule "winnerscurse"]
	path = winnerscurse
	url = https://github.com/amandaforde/winnerscurse
