[submodule ".registry"]
	path = .registry
	url = https://github.com/mrcieu/mrcieu.r-universe.dev
	branch = HEAD
[submodule "BESIDEMR"]
	path = BESIDEMR
	url = https://github.com/CYShapland/BESIDEMR
[submodule "MRInstruments"]
	path = MRInstruments
	url = https://github.com/MRCIEU/MRInstruments
[submodule "MRMix"]
	path = MRMix
	url = https://github.com/gqi/MRMix
	registered = false
[submodule "MRPRESSO"]
	path = MRPRESSO
	url = https://github.com/rondolab/MR-PRESSO
	registered = false
[submodule "MVMR"]
	path = MVMR
	url = https://github.com/WSpiller/MVMR
[submodule "OneSampleMR"]
	path = OneSampleMR
	url = https://github.com/remlapmot/OneSampleMR
	branch = v0.1.3
[submodule "RMVMR"]
	path = RMVMR
	url = https://github.com/WSpiller/RMVMR
[submodule "RadialMR"]
	path = RadialMR
	url = https://github.com/WSpiller/RadialMR
[submodule "SUMnlmr"]
	path = SUMnlmr
	url = https://github.com/amymariemason/SUMnlmr
[submodule "TwoSampleMR"]
	path = TwoSampleMR
	url = https://github.com/MRCIEU/TwoSampleMR
[submodule "bpbounds"]
	path = bpbounds
	url = https://github.com/remlapmot/bpbounds
	branch = v0.1.5
[submodule "cause"]
	path = cause
	url = https://github.com/jean997/cause
[submodule "epigraphdb"]
	path = epigraphdb
	url = https://github.com/MRCIEU/epigraphdb-r
[submodule "finemapr"]
	path = finemapr
	url = https://github.com/variani/finemapr
	registered = false
[submodule "genetics.binaRies"]
	path = genetics.binaRies
	url = https://github.com/MRCIEU/genetics.binaRies
[submodule "gwasglue"]
	path = gwasglue
	url = https://github.com/MRCIEU/gwasglue
[submodule "gwasglue2"]
	path = gwasglue2
	url = https://github.com/MRCIEU/gwasglue2
[submodule "gwasvcf"]
	path = gwasvcf
	url = https://github.com/MRCIEU/gwasvcf
[submodule "ieugwasr"]
	path = ieugwasr
	url = https://github.com/MRCIEU/ieugwasr
[submodule "mrbayes"]
	path = mrbayes
	url = https://github.com/okezie94/mrbayes
[submodule "nlmr"]
	path = nlmr
	url = https://github.com/jrs95/nlmr
[submodule "susieR"]
	path = susieR
	url = https://github.com/stephenslab/susieR
	registered = false
[submodule "tmsens"]
	path = tmsens
	url = https://github.com/dea-hazewinkel/tmsens
